html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E7E7E7;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin: 2rem 15rem;
}

.grid-left-container, .grid-right-container {
  height: 41rem;
}

.grid-left-container {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.grid-right-container {
  background-color: #f3f3f3;
  color: #2D2D2D;
}

.grid-right {
  margin: 0 7rem;
  margin-block-start: 9rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
}

.input {
  background: rgba(209, 207, 207, 0.5411764706);
  border-radius: 8px;
  padding: 10px 16px;
  border-style: none;
  width: 85%;
  border-width: 0;
}

.form-btn {
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  padding: 15px 44px;
  border-radius: 10px;
  border-style: none;
  margin-top: 2rem;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 0;
  }
  .container {
    margin: 0;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .grid-left-container, .grid-right-container {
    height: 21rem;
  }
  .grid-left-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .grid-image-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 2rem 3rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .grid-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 2rem 5rem;
  }
}
:root {
  --primary-color: #0E625F;
  --secondary-color: ;
  --normal-font: ;
  --bold-font: ;
}

body {
  background-color: rgba(155, 152, 152, 0.431372549);
}

.grid-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41rem;
}

.grid-image-container {
  text-align: center;
}

.grid-image {
  height: 6rem;
}

.grid-image-tag {
  font-size: 1.5rem;
}

.grid-right-container {
  grid-column-start: 1;
  grid-row-start: 1;
}

.grid-right p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1.8rem 0;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid-left-container, .grid-right-container {
    height: 21rem;
  }
  .grid-left {
    height: 21rem;
  }
  .grid-image {
    height: 5rem;
  }
  .grid-left-content {
    font-size: 1rem;
    margin-block-start: 2rem;
    line-height: 26px;
    text-align: center;
  }
  .grid-right-container {
    height: 33rem;
  }
  .grid-right {
    margin: 0 1rem;
    margin-block-start: 4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 1rem;
  }
  .grid-right {
    margin: 0 3rem;
    margin-block-start: 11rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .grid-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 4rem;
  }
  .grid-right {
    margin: 0 6rem;
    margin-block-start: 11rem;
  }
}
@media screen and (min-width: 1440px) {
  .grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 2rem 15rem;
  }
  .grid-right {
    margin: 0 8rem;
    margin-block-start: 11rem;
  }
  .input {
    width: 77%;
  }
}

/*# sourceMappingURL=forgot.css.map */
