.earning {
    margin-top: 2rem;
    height: 77rem;
}
h3 {
    font-weight: 600;
    font-size: 20px;
}
.bill-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 8rem;
}
.box {
    background: #fff;
    border-radius: 12px;
    width: 23.5%;
    display: flex;
    align-items: flex-start;
    padding: 12px 15px;
    height: 9rem;
}
.box-img {
    height: 4.4rem;
}
.box-1 {
    border-left: 6px solid #FA8B3A;
}
.box-2 {
    border-left: 6px solid #FED142;
}
.box-3 {
    border-left: 6px solid #2DD683;
}
.box-4 {
    border-left: 6px solid #00B3FF;
}
.box-inner {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 7px;
    width: 100%;
}
.box-span-1 {
    font-weight: 700;
    font-size: 24px;
}
.box-span-2 {
    margin-top: 1px;
    color: #69737C;
    font-size: 16px;
    font-weight: 400;
}
.progress-container {
    height: 16rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 4rem;
}
.progress-container h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}
.bar-1, .bar-2 {
    background: #fff;
    border-radius: 12px;
}
.bar-1 {
    width: 40%;
}
.bar-2 {
    width: 58.3%;
}
.bar-inner {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}
.text-position {
    position: relative;
  //   padding-right: 1rem;
  //   border-right: 1px solid #CCCCCC;
  }
  .inner-content {
      position: absolute;
      top: 61px;
      left: 62px;
      color: #69737C;
      text-align: center;
  }
  .percent {
      font-style: italic;
      font-size: 29px;
  }
  .text {
      font-size: 14px;
      font-weight: 500;
  }
  .trans-table-container {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .box-percent {
    width: 100%;
    text-align: end;
    height: 2rem;
    margin-top: 33px;
  }
  .box-percent-inner {
    background: #D8FFEC;
    width: 95px;
    height: 34px;
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 8px;
    color: #2DD683;
  }
  .box-percent-img {
    height: 1rem;
    margin: 0 5px;
  }
  .earn-chart {
    margin-top: 4rem;
    padding: 30px 12px;
    background: #FFFFFF;
    height: 34rem;
    box-shadow: 0px 0px 15px -10px rgb(0 0 0 / 75%);
    border-radius: 16px;
  }