.chart {
  margin: 38px 0;
  margin-top: 2rem;
  padding: 30px 12px;
  background: #FFFFFF;
  height: 34rem;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 16px;
}

.chartTitle {
  margin: 0 0 32px 26px;
  font-size: 1.4rem;
}
.chart-container {
    // height: 50%;
}
.recharts-default-legend {
  margin-top: 1rem !important;
}