.gender {
    display: flex;
    margin: 4rem 0;
}
h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #2d2d2d;
}
.gender-left {
    flex: 2;
    background: #fff;
    border-radius: 16px;
    margin-right: 1rem;
    padding: 2rem;
    height: 17rem;

}
.gender-right {
    flex: 3;
    background: #fff;
    border-radius: 16px;
    height: 17rem;
    padding: 2rem;
}
.right, .left {
    display: flex;
    width: 81%;
    height: 14rem;
    margin: 0 auto;
    align-items: center;
}
.text-position {
  position: relative;
  padding-right: 1rem;
  border-right: 1px solid #CCCCCC;
}
.inner-text {
    position: absolute;
    top: 85px;
    left: 48px;
    font-size: 14px;
    color: #69737C;
    font-weight: 500;
}
// custom.css
.CircularProgressbar-path {
  stroke: red;
}


// /*
//  * react-circular-progressbar styles
//  * All of the styles in this file are configurable!
//  */

//  .CircularProgressbar {
//     /*
//      * This fixes an issue where the CircularProgressbar svg has
//      * 0 width inside a "display: flex" container, and thus not visible.
//      */
//     width: 100%;
//     /*
//      * This fixes a centering issue with CircularProgressbarWithChildren:
//      * https://github.com/kevinsqi/react-circular-progressbar/issues/94
//      */
//     vertical-align: middle;
//   }
  
//   .path-green .CircularProgressbar, .path-green .CircularProgressbar-path {
//     stroke: #0E625F;
//     stroke-linecap: round;
//     transition: stroke-dashoffset 0.5s ease 0s;
//   }
  
//   .CircularProgressbar .CircularProgressbar-trail {
//     stroke: #d6d6d6;
//     /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
//     stroke-linecap: round;
//   }
  
//   .CircularProgressbar .CircularProgressbar-text {
//     fill: #3e98c7;
//     font-size: 20px;
//     dominant-baseline: middle;
//     text-anchor: middle;
//   }
  
//   .CircularProgressbar .CircularProgressbar-background {
//     fill: #d6d6d6;
//   }

//   /*
//  * Sample background styles. Use these with e.g.:
//  *
//  *   <CircularProgressbar
//  *     className="CircularProgressbar-inverted"
//  *     background
//  *     percentage={50}
//  *   />
//  */
// .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
//     fill: #3e98c7;
//   }
  
//   .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
//     fill: #fff;
//   }
  
//   .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
//     stroke: #fff;
//   }
  
//   .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
//     stroke: transparent;
//   }