.home {
    background: #E7E7E7;
    height: 54rem;
    width: 100%;
}
.title {
    padding: 19px 18px 26px 18px;

}
h3 {
    margin-block-end: 2px;
    margin-block-start: 0;
    font-size: 20px;

}
.title-tag {
    color: #69737C;
    font-size: 0.8rem;
}

