.progress {
    display: flex;
    margin: 4rem 0;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #2d2d2d;
}
.progress-left {
    background: #fff;
    border-radius: 16px;
    margin-right: 1rem;
    padding: 2rem;
    height: 17rem;
    width: 40%;

}
.progress-right {
    background: #fff;
    border-radius: 16px;
    height: 17rem;
    padding: 2rem;
    width: 65%;
    position: relative;
}
.progress-right-title {
    position: absolute;
    top: 2rem;
    right: 13.5rem
}
.inner-flex, .inner-flex-2 {
    display: flex;
    height: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;

}
.inner-flex-2 {
    justify-content: center;
}
.pie-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9rem;
    border-left: 1px solid #CCCCCC;
    padding-left: 20px;
}
.pie-item {
    display: flex;
}
.pie-item span {
    background: #0088FE;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -5px;
}
.text-position {
  position: relative;
//   padding-right: 1rem;
//   border-right: 1px solid #CCCCCC;
}
.inner-content {
    position: absolute;
    top: 61px;
    left: 62px;
    color: #69737C;
    text-align: center;
}
.percent {
    font-style: italic;
    font-size: 29px;
}
.text {
    font-size: 14px;
    font-weight: 500;
}
// .pie-chart {
//     // transform: rotate(-100deg);
//     // color: black;
// }


// Manual SVG STYLES
// .svg-container {
//     display: block;
//     width: 150px;
//     height: 150px;
//     transform: rotate(-90deg);
// }
// .svg-track, .svg-indicator {
//     cx: 75px;
//     cy: 75px;
//     r: 67px;
//     fill: transparent;
//     stroke-width: 8px;

// }
// .svg-track {
//     stroke: #ddd;
// }
// .svg-indicator {
//     stroke: #07c;
//     stroke-dasharray: 420.76px;
//     stroke-dashoffset: 315.57px;
// }
