.grid-container-forgot {
    display: grid;
    grid-template-columns: 6fr 4fr;
    // margin: 2rem 15rem;
    width: 60%;
}
.grid-left-container-forgot, .grid-right-container-forgot {
    height: 35rem;
}

// Grid left
.grid-right-container-forgot {
    background-color: var(--primary-color);
    color: #FFFFFF;
}


// Grid left
.grid-left-container-forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    color: #2D2D2D;
    
}
.grid-left-forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 35rem;
    width: 60%;
   
}
.grid-left-tag-forgot {
    font-size: 1.8rem;
    font-weight: 600;
    
}


// Form
.form-label {
    font-size: 0.9rem;
    font-weight: 500;
}
.input {
    background: #d1cfcf5b;
    border-radius: 8px;
    padding: 10px 16px;
    border-style: none;
    width: 100%;
    border-width: 0;
}
.form-btn {
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    padding: 15px 44px;
    border-radius: 10px;
    border-style: none;
    margin-top: 2rem;
}

