@import "../body";
@import"../variable";

body {
    height: 100%;
}

.forgot-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.forgot-modal-content {
    width: 800px;
    height: 30rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 12rem;
    }

    div {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 17px;
        color: #2d2d2d;
        text-align: center;
    }

    button {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 12px;
        padding: 6px 23px;
        text-align: center;
        border-style: none;
        height: 51px;
        gap: 10px;
        font-size: 0.9rem;
        margin-top: 20px;
    }
    button a {
        color: #fff;
        text-decoration: none;
    }
}


// Media Queries

// // Mobile
// @media screen and (min-width:320px) and (max-width:767px) {
//     .container {
//         height: 33rem;

//         img {
//             height: 14rem;
//         }

//         div {
//             font-size: 0.8rem;
//             line-height: 17px;
//         }

//         button {
//             padding: 16px 23px;
//             height: 52px;
//             font-size: 0.7rem;
//             margin-top: 1.5rem;
//         }
//     }
// }
    

// Tablets
@media screen and (min-width:768px) and (max-width:1023px) {
    .container {
        height: 33rem;

        img {
            height: 17rem;
        }

        div {
            font-size: 1rem;
            line-height: 21px;
        }

        button {
            padding: 16px 32px;
            height: 52px;
            font-size: 0.7rem;
            margin-top: 1.5rem;
        }
    }
}


// Small Laptop
@media screen and (min-width:1024px) and (max-width:1439px) {
    .container {
        height: 33rem;

        img {
            height: 17rem;
        }

        div {
            font-size: 1rem;
            line-height: 21px;
        }

        button {
            padding: 16px 34px;
            height: 52px;
            font-size: 0.7rem;
            margin-top: 1.5rem;
        }
    }
}


// Large Screen
@media screen and (min-width:1440px) {

}

