//IMPORTS
@import 'grid2';
@import "../body";
@import "../variable";



.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
// Grid right
.grid-right-forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 100%;
}
.grid-image-container-forgot {
    text-align: center;
}
.grid-image-forgot {
    height: 6rem;
}
.grid-image-tag-forgot {
    font-size: 1.2rem;
    font-weight: 300;
}


// Grid left

.grid-left-forgot-paragraph {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1.8rem 0;
}

// Form
.grid-left-form-forgot {
    width: 100%;
}
.input-email:hover, .input-email:focus {
    border-width: 0;
}

// Media Queries
// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container-forgot {
        display: grid;
        grid-template-columns: 6fr 4fr;
        width: 60%;
    }
    .grid-right-forgot {
        margin: 0 3rem;
        margin-block-start: 11rem;
    }
}


// Small Laptop
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .grid-container-forgot {
        display: grid;
        
    
    }
}

// Large Screen
@media screen and (min-width: 1440px) {
    

    
}

    
