// .reader {

// }
.pieChart {
    // border: 1px solid grey;
    height: 41rem;
    // margin-block-end: 5rem
}
.pie-container {
    // border: 1px solid grey;
    height: 18rem;
    // background: #fff;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.box-left, .box-right {
    position: relative;
    background: #fff;
    height: 17rem;
    border-radius: 16px;
}
.box-left {
    width: 68%;
}
.box-right {
    width: 30%;
}
.reader-inner-flex {
    display: flex;
    height: 15rem;
    margin-top: 1.8rem;
    justify-content: space-around;
    align-items: center;
}
.pie-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9rem;
    border-left: 1px solid #CCCCCC;
    padding-left: 20px;
    width: 147px;
}
.pie-item {
    display: flex;
}
.pie-item span {
    background: #0088FE;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -5px;
}
.pie-span {
    position: absolute;
    font-size: 20px;
    top: 10px;
    font-weight: 500;
}
.span-left {
    top: 26px;
    left: 43px;

}
.span-right {
    top: 26px;
    right: 171px;
    
}
.box-right-tag {
    margin-top: 20px;
    margin-left: 45px;
}
.box-right-inner {
    margin-top: 5px;
}
.reader-table {
    margin-top: 3rem;
}