//IMPORTS
@import "../body";
@import "grid";
@import "../variable";

body {
    background-color: #9b98986e;
}

// Grid left
.grid-left-container {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.grid-left {
    margin: 0 3.3rem;
    margin-block-start: 7rem;
}
.grid-image-container {

}
.grid-image {
    height: 3rem;
}
.grid-image-tag {
    font-size: 1rem;
    font-weight: 400;
}
.grid-left-content {
    font-size: 1.4rem;
    font-weight: 500;
    margin-block-start: 5rem;
    line-height: 35px;

}
// Grid Right
.grid-right-container {
    // width: 86%;
    background-color: #f3f3f3;
    color: #2D2D2D;
}
.grid-right {
    margin: 0 7rem;
    margin-block-start: 9rem;
   
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    
}

// Form
.form-label {
    font-size: 0.9rem;
    font-weight: 500;
}
.pass-label {
    margin-top: 1rem;
}
.input-email, .input-password {
    background: #d1cfcf8a;
    border-radius: 8px;
    padding: 10px 16px;
    border-style: none;
    width: 252px;
    border-width: 0;
}
.input-email:hover, .input-email:focus {
    border-width: 0;
}
.check-container {
    margin-block-start: 0.9rem;
}
.input-check:checked {
    accent-color: var(--primary-color);
}
.check-container span {
    font-weight: 600;
    font-size: 13px;
}
.grid-right-forgot {
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 11.2rem;
    margin-top: 2rem;
}
.form-btn {
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    padding: 15px 44px;
    border-radius: 10px;
    border-style: none;
    margin-top: 2rem;
}


// Media Queries
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

    .grid-left-container, .grid-right-container {
        height: 21rem;
    }
    .grid-left-container {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .grid-image-container {
        text-align: center;
    }
    .grid-image {
        height: 4rem;
    }
    .grid-left-content {
        font-size: 1rem;
        margin-block-start: 2rem;
        line-height: 26px;
        text-align: center;
    }
    .grid-right-container {
        height: 33rem;
    }
    .grid-right {
        margin: 0 1rem;
        margin-block-start: 4rem;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-left {
        margin: 0 2.2rem;
        margin-block-start: 7rem;
    }
    .grid-right {
        margin: 0px 2rem;
        margin-block-start: 9rem;
    }
}


// Small Laptop
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 4fr;
        margin: 2rem 5rem;
    }
    .grid-left {
        margin: 0 2rem;
        margin-block-start: 7rem;
    }
}