.bookoverview {
    margin-top: 35px;
    width: 90%;
}
.book-view-container {
    height: 28rem;
    display: flex;
    justify-content: space-between;
}
// .book-view-box {
//     // background: #728A7C;
//     width: 27rem;
//     // padding: 2rem;
// }
.book-view-content {
    width: 69%;
    align-self: center;

}
.book-view-content h1 {
    font-weight: 700;
    font-size: 3rem;

}
.book-view-content p {
    font-weight: 700;
    font-size: 28px;
}
.book-view-btn {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    height: 55px;
    margin-top: 1.4rem;
    width: 220px;
    background: #FF735C;
    border-style: none;
    color: #fff;
}
.book-btn-1 {
    background: #FF735C;
    color: #fff;
    border-style: none;
}
.book-btn-2 {
    margin-left: 2rem;
    background: #fff;
    color: #FF735C;
    border: 1px solid #FF735C;
} 
.book-about-title {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: #0E625F;
    font-size: 25px;
    margin-bottom: 35px;
}
.book-about-container {
    text-transform: uppercase;
    margin-top: 4rem;
    height: 52rem;
    position: relative;
}
.book-about-h2 {
    font-size: 25px;
    margin-top: 2rem;
}
.book-about-img {
    position: absolute;
    top: -1px;
    left: 144px;
}
.book-about-paragraph {
    font-size: 20px;
    margin-top: 2px;
    font-weight: 500;
    line-height: 35px;
}
.book-overview-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.book-overview-btns button {
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    height: 55px;
    margin-top: 1.4rem;
    width: 220px;
    background: #FF735C;
    color: #fff;
    border-style: none;
}