// .books {

// }
.book-info-container {
    display: flex;
    justify-content: space-between;
 }
.book-item {
    background: #fff;
    display: flex;
    width: 310px;
    margin: 0px 8px;
    padding: 25px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background: #FFFFFF;
}
.book-item-word {
    width: 140px;
    margin-left: 1rem;
    align-self: center;
    font-weight: 700;
    font-size: 1.3rem;
}
.book-item-word a {
    text-decoration: none;
    color: #2D2D2D;
}
.book-item-word a:hover {
    opacity: 0.5;
}
.book-search-container {
    display: flex;
    justify-content: flex-end;
}


// .book-graph {
//     // margin-top: 9rem;
// }
.book-table-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 68px;
}