$primary-color: #0E625F;

.top-bar {
    width: 100%;
    height: 50px;
    background-color: white;
}
.topbar-container {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-logo {
    height: 2rem;
}
.top-logo-tag {
    font-weight: 400;
    font-size: 22px;
    color: $primary-color;
}