* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 54rem;
    width: 97%;
    margin: 0 auto;
}
.header {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}
.header-title {
    margin-block-end: 2px;
    margin-block-start: 0;
    font-size: 20px;

}
.header-tag, .header-right h3 {
    color: #69737C;
    font-size: 0.8rem;
}
.header-right h3 {
    text-align: right;
}
.header-right span {
    font-size: 20px;
    font-weight: 600;
}
.table-title {
    font-size: 20px;
    font-weight: 700;
    color: #2d2d2d;
}
.table {
    height: 41rem;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    margin-top: 15px;
    padding: 30px 15px;
    margin-bottom: 2rem;
}

.footer {
    text-align: right;
    padding-bottom: 3rem;
    color: #69737C;
    font-weight: 400;
    font-size: 14px;
}