* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 54rem;
    width: 97%;
    margin: 0 auto;
}
.header {
    padding: 35px 0;
}
.header-title {
    margin-block-end: 2px;
    margin-block-start: 0;
    font-size: 20px;

}
.header-tag {
    color: #69737C;
    font-size: 0.8rem;
}
.footer {
    text-align: right;
    padding-bottom: 3rem;
    color: #69737C;
    font-weight: 400;
    font-size: 14px;
}